<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Job Application</title>

<style>
body{font-family:Arial;margin:40px}
fieldset{margin-bottom:30px;padding:20px}
table{width:100%}
input,select{height:28px;width:200px}
textarea{width:100%;height:60px}
button{padding:6px 10px}
</style>

</head>

<body>

<h1 align="center">JOB APPLICATION FORM</h1>

<form method="POST" action="/applicants">

<!-- BASIC DETAILS -->
<fieldset>
<legend>Basic Details</legend>

<table>

<tr>
<td>First Name</td>
<td><input type="text" name="first_name" required></td>

<td>Middle Name</td>
<td><input type="text" name="middle_name"></td>

<td>Surname</td>
<td><input type="text" name="surname" required></td>
</tr>

<tr>
<td>Email</td>
<td><input type="email" name="email" required></td>

<td>Phone</td>
<td><input type="text" name="phone_number" required></td>

<td>Date of Birth</td>
<td><input type="date" name="date_of_birth" required></td>
</tr>

<tr>
<td>Gender</td>
<td>
<select name="gender_id">
<% genders.forEach(g=>{ %>
<option value="<%= g.gender_id %>"><%= g.gender_name %></option>
<% }) %>
</select>
</td>

<td>Marital Status</td>
<td>
<select name="marital_status_id">
<% maritalStatuses.forEach(m=>{ %>
<option value="<%= m.marital_status_id %>"><%= m.marital_status_name %></option>
<% }) %>
</select>
</td>

<td>Country</td>
<td><input type="text" name="country" value="India"></td>
</tr>

<tr>
<td>Address Line 1</td>
<td colspan="5">
<textarea name="address_line1"></textarea>
</td>
</tr>

<tr>
<td>Address Line 2</td>
<td colspan="5">
<textarea name="address_line2"></textarea>
</td>
</tr>

<tr>
<td>City</td>
<td><input type="text" name="city"></td>

<td>State</td>
<td><input type="text" name="state"></td>

<td>Postal Code</td>
<td><input type="text" name="postal_code"></td>
</tr>

<tr>
<td>Current Designation</td>
<td><input type="text" name="current_designation"></td>

<td>Total Experience (Years)</td>
<td><input type="number" step="0.1" name="total_experience_years"></td>
</tr>

</table>
</fieldset>


<!-- EDUCATION -->
<fieldset>
<legend>Education Details</legend>

<table>

<tr>
<th>Course</th>
<th>Institute</th>
<th>Board/University</th>
<th>Year</th>
<th>Percentage</th>
</tr>

<tr>
<td>
<select name="edu_course_1">
<% courseTypes.forEach(c=>{ %>
<option value="<%= c.course_type_id %>"><%= c.course_type_name %></option>
<% }) %>
</select>
</td>

<td><input type="text" name="edu_institute_1"></td>
<td><input type="text" name="edu_board_1"></td>
<td><input type="text" name="edu_year_1"></td>
<td><input type="number" name="edu_percentage_1"></td>
</tr>

<tr>
<td>
<select name="edu_course_2">
<% courseTypes.forEach(c=>{ %>
<option value="<%= c.course_type_id %>"><%= c.course_type_name %></option>
<% }) %>
</select>
</td>

<td><input type="text" name="edu_institute_2"></td>
<td><input type="text" name="edu_board_2"></td>
<td><input type="text" name="edu_year_2"></td>
<td><input type="number" name="edu_percentage_2"></td>
</tr>

</table>
</fieldset>


<!-- WORK EXPERIENCE -->
<fieldset>

<legend>Work Experience</legend>

<table border="1" id="workTable">

<thead>
<tr>
<th>Company</th>
<th>Designation</th>
<th>From</th>
<th>To</th>
<th>Action</th>
</tr>
</thead>

<tbody>

<tr>
<td><input type="text" name="company_name_1"></td>
<td><input type="text" name="designation_1"></td>
<td><input type="date" name="start_date_1"></td>
<td><input type="date" name="end_date_1"></td>

<td>
<button type="button" onclick="removeWork(this)">Remove</button>
</td>
</tr>

</tbody>
</table>

<br>

<button type="button" onclick="addWork()">Add Work</button>

</fieldset>


<!-- LANGUAGES -->
<fieldset>

<legend>Languages Known</legend>

<table border="1">

<tr>
<th>Language</th>
<th>Read</th>
<th>Write</th>
<th>Speak</th>
</tr>

<% languages.forEach(l=>{ %>

<tr>

<td><%= l.language_name %></td>

<td><input type="checkbox" name="lang_<%= l.language_id %>_read"></td>
<td><input type="checkbox" name="lang_<%= l.language_id %>_write"></td>
<td><input type="checkbox" name="lang_<%= l.language_id %>_speak"></td>

</tr>

<% }) %>

</table>

</fieldset>


<!-- TECHNOLOGIES -->
<fieldset>

<legend>Technologies</legend>

<table border="1" id="techTable">

<thead>

<tr>
<th>Technology</th>
<th>Beginner</th>
<th>Intermediate</th>
<th>Expert</th>
</tr>

</thead>

<tbody id="techBody"></tbody>

</table>

<br>

<input type="text" id="techInput" placeholder="Add Technology">

<button type="button" onclick="addTechnology()">Add Tech</button>

</fieldset>


<!-- REFERENCES -->
<fieldset>

<legend>References</legend>

<table>

<tr>
<th>Name</th>
<th>Company</th>
<th>Designation</th>
<th>Phone</th>
<th>Email</th>
<th>Relation</th>
</tr>

<tr>

<td><input type="text" name="reference_name_1"></td>
<td><input type="text" name="reference_company_1"></td>
<td><input type="text" name="reference_designation_1"></td>
<td><input type="text" name="reference_phone_1"></td>
<td><input type="email" name="reference_email_1"></td>

<td>
<select name="reference_relation_1">
<% referenceRelationships.forEach(r=>{ %>
<option value="<%= r.reference_relationship_id %>"><%= r.relationship_name %></option>
<% }) %>
</select>
</td>

</tr>

<tr>

<td><input type="text" name="reference_name_2"></td>
<td><input type="text" name="reference_company_2"></td>
<td><input type="text" name="reference_designation_2"></td>
<td><input type="text" name="reference_phone_2"></td>
<td><input type="email" name="reference_email_2"></td>

<td>
<select name="reference_relation_2">
<% referenceRelationships.forEach(r=>{ %>
<option value="<%= r.reference_relationship_id %>"><%= r.relationship_name %></option>
<% }) %>
</select>
</td>

</tr>

</table>

</fieldset>


<br>

<button type="submit">Submit Application</button>

</form>


<script>

let workIndex=1

function addWork(){

workIndex++

let tbody=document.querySelector("#workTable tbody")

let row=document.createElement("tr")

row.innerHTML=`

<td><input type="text" name="company_name_${workIndex}"></td>

<td><input type="text" name="designation_${workIndex}"></td>

<td><input type="date" name="start_date_${workIndex}"></td>

<td><input type="date" name="end_date_${workIndex}"></td>

<td>
<button type="button" onclick="removeWork(this)">Remove</button>
</td>

`

tbody.appendChild(row)

}

function removeWork(btn){
btn.parentNode.parentNode.remove()
}



let technologies=["Java","Node","PHP"]

function addTechnology(){

let val=document.getElementById("techInput").value

if(val){
technologies.push(val)
generateTech()
}

}

function generateTech(){

let body=document.getElementById("techBody")

body.innerHTML=""

technologies.forEach((t,i)=>{

let row=document.createElement("tr")

row.innerHTML=`

<td>
${t}
<input type="hidden" name="tech_${i}_name" value="${t}">
</td>

<td>
<input type="radio" name="tech_${i}_level" value="1">
</td>

<td>
<input type="radio" name="tech_${i}_level" value="2">
</td>

<td>
<input type="radio" name="tech_${i}_level" value="3">
</td>

`

body.appendChild(row)

})

}

generateTech()

</script>

</body>
</html>